version: '3.8'
services:
  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger
    ports:
      - "8081:8080"
    environment:
      - SWAGGER_JSON=/reminder/swagger/api-docs
      - URL=http://localhost:8080/reminder/swagger/api-docs
  sonarqube:
    image: sonarqube:9.9-community
    container_name: sonarqube
    ports:
      - "9011:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    container_name: keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8088:8080"

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: db
      TZ: Europe/Riga
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: alekseeva.katay1@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin


volumes:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
  postgres_data: